<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/style.css" rel="stylesheet">
        <title>Gamin' Goombas</title>
    </head>
    <body onload=initialize({{db}})>
        <h1> index </h1>
        <a href="/europe"> europe </a>
        <a href="/japan"> japan </a>
        <a href="/northAmerica"> north america </a>

        <p id="para"> </p>
        <!-- <script src="test.js"></script> -->
        <script src="../static/js/script.js"></script>
    </body>
</html>
