<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/japan.css" rel="stylesheet">
        <title>Japan</title>
        <script>
            
            var japanSales = JSON.parse('{{ japaneseSales | tojson | safe }}')
        </script>
    </head>
    <body onload=init(japanSales)>
        <h1> Japan </h1>
        <a href="/"> back </a>

        <canvas id="totalJapaneseSales"></canvas>

        <!-- <script src="test.js"></script> -->
        <script src="../static/js/japan.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </body>
</html>
