<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/northAmerica.css" rel="stylesheet">
        <title>North America</title>
        <script>
            
            var americanSales = JSON.parse('{{ americanSales | tojson | safe }}')
        </script>
    </head>
    <body onload=init(americanSales)>
        <h1> North America </h1>
        <a href="/"> back </a>

        <canvas id="totalAmericanSales"></canvas>

        <!-- <script src="test.js"></script> -->
        <script src="../static/js/northAmerica.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </body>
</html>
